@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;200;300;400;500;600&family=Poppins:wght@300;400;500&family=Roboto:wght@100;300;400;500;700&family=Rubik:wght@300;400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Rubik', sans-serif;
}
.container{
    width: 100%;
    min-height: 100vh;
    max-height: auto;
    display: flex;

}
.container-part1{
    width: 50%;
    height: 100vh;
    background: rgb(110, 173, 236);
    background: linear-gradient(189deg, rgb(75, 149, 223) 21%, rgb(241, 135, 218) 100%, rgb(210, 213, 242) 100%);
    padding-bottom: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box{
    min-height: 70vh;
    max-height: auto;
    background: rgb(110, 173, 236);
    background: linear-gradient(189deg, rgb(120, 181, 242) 21%, rgb(243, 164, 226) 100%, rgb(227, 230, 249) 100%);

    width: 60%;
    border-radius: 5px;
    padding: 7%;
}
.box h1{
    color: white;
    font-size: 54px;
    font-weight: 500;
}
.box p{
    color: white;
    font-size: 18px;
    margin-top: 30px;
}
.container-part2{
    width: 50%;
    padding: 4% 8%;
    display: flex;
    flex-direction: column;
    
    height: 100vh;
}


.logo img{
    width: 90px;
    height: 90px;
    margin-bottom: 20px;
}
.container-part2 h2{
    font-size: 36px;
}
.container-part2 p{
    margin-block: 10px 20px;
    font-size: 12px;
}
.container-part2 input{
    width: 360px;
    height: 5vh;
    margin-bottom: 30px;
    border-radius: 5px;
    border: 1px solid gray;
}
#Remember{
    height: 15px;
    /* justify-content:flex-start; */
    width: 15px;
}
#login{
    width: 360px;
    height: 38px;
    background: rgb(113,173,234);
    background: linear-gradient(189deg, rgb(232, 113, 234) 21%, rgb(25, 118, 224) 100%, rgb(241, 7, 237) 100%);
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}
#signin{
    width: 360px;
    height: 5vh;
    color: black;
    margin-top: 40px;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 14px;
    background-color: transparent;
}
.or{
    width: 330px;
    height: 2vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    
}
h3{
    font-weight: 500;
}
label{
    font-weight: 600;
}
#signin i{
    color: rgb(246, 145, 44);
    margin-right: 6px;
}

@media (max-width:1100px) {
    .container{
        flex-direction: column;
    }
    .container-part1{
        width: 100%;
        align-items: center;
        padding-bottom: 10vh;
    }
    .container-part2{
        width: 100%;
        align-items: center;
    }
}
@media (max-width:568px) {
    .box h1{
        font-size: 40px;
    }
    .container-part2{
        padding-inline: 5px;
    }
    
}